<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
       xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/data/elasticsearch
           http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch.xsd"
        >

    <!--=== Elasticsearch Configuration === -->
    <elasticsearch:transport-client id="esClient"
                                    cluster-name="${es.cluster.name}"
                                    client-transport-ping-timeout="${es.ping_timeout}"
                                    cluster-nodes="${es.host}"
                                    client-transport-sniff="false"/>

</beans>